streamlit>=1.51
langchain>=1.0
langchain-anthropic
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-ollama
langchain-huggingface
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
chromadb
deep_translator
sentence_transformers
transformers
sqlite-utils
python-dotenv
deep-translator
pydantic
faiss-cpu
plotly
